:root {
  --link-yellow: #fffd7f;
}

.reveal {
  background-image: url("slide_background2.png");
  background-size: cover;
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
}

a {
  color: var(--link-yellow, white) !important;
}

a:hover {
  color: white !important;
}

code {
  max-height: 300px !important;
}

.reveal h1 {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  color: white;
  font-size: 3em;
  line-height: 1em;
}

.reveal h2 {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  color: white;
}

.reveal h3 {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  color: white;
}

.reveal .controls .navigate-right.enabled {
  border-left-color: white;
}
.reveal .controls .navigate-right.enabled:hover {
  border-left-color: var(--link-yellow, white);
}

.reveal .controls .navigate-left.enabled {
  border-right-color: white;
}
.reveal .controls .navigate-left.enabled:hover {
  border-right-color: var(--link-yellow, white);
}

.reveal .controls .navigate-up.enabled {
  border-bottom-color: white;
}
.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: var(--link-yellow, white);
}

.reveal .controls .navigate-down.enabled {
  border-top-color: white;
}
.reveal .controls .navigate-down.enabled:hover {
  border-top-color: var(--link-yellow, white);
}